# Python virtual environment
venv/
env/
ENV/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Database files
*.db
*.sqlite3

# Logs
*.log

# VS Code settings
.vscode/

# Environment variables
.env

# Next.js
.next/
out/
node_modules/

# misc
.DS_Store
*.pem